spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jackson:
    property-naming-strategy: SNAKE_CASE
    time-zone: Asia/Seoul

  jpa:
    hibernate:
      ddl-auto: ${JPA_HIBERNATE_DDL_AUTO}
    show-sql: ${JPA_SHOW_SQL}
    properties:
      hibernate:
        format_sql: ${JPA_FORMAT_SQL}
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}

cloud:
  aws:
    s3:
      bucket: ${BUCKET_NAME}
      url-prefix: ${DAEDONG_IMAGE_FOLDER}
    region:
      static: ${AWS_REGION}
    stack:
      auto: false
    credentials:
      accessKey: ${AWS_ACCESS_KEY_ID}
      secretKey: ${AWS_SECRET_ACCESS_KEY}

jwt:
  header: ${JWT_HEADER}
  prefix: ${JWT_PREFIX}
  secret-key: ${JWT_SECRET_KEY}
  access-expiration: ${JWT_ACCESS_EXP}
  refresh-expiration: ${JWT_REFRESH_EXP}

das-key:
  login-api-url: ${XQUARE_URL}